* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    min-height: 50px;
    background-color: burlywood;
    border: 1px solid black;
}

.margin .col-xs-6 .row:first-child {
    margin: 10px;
}

.color {
    background-color: chartreuse;
}

.padd {
    padding: 20px 0;
}


